.header {
    display: flex;
    justify-content: space-between;
  }

  .left{
    display:flex;
  }
  
  .bcit {
    flex: 0 0 auto;
  }
  
  .list ul {
    width: auto;
    gap: 15px;
    list-style-type: none;
    display: flex;
    font-size: small;
  }
  
  .list li {
    cursor: pointer;
  }
  
  .bars {
    flex: 0 0 auto;
    margin-top: 20px;
  }
