.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 20vh;
}

/* Tablet */
@media (min-width: 701px) and (max-width: 1120px) {

}

/* Mobile */
@media (max-width: 700px) {

} 