.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 20vh;
}

.school {
  position: relative;
  padding-left: 550px;
}

.welcome {
  position: absolute;
  font-size: 11mm;
  font-weight: bolder;
  left: 4.7em;
}

.different {
  position: absolute;
  font-size: smaller;
  bottom: 50%;
  right: 65%;
}

/* Tablet */
@media (min-width: 701px) and (max-width: 1120px) {

}

/* Mobile */
@media (max-width: 700px) {

} 